<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <div class="panel">
      <%= render :partial => "student_details" %>
    </div>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <!-- add in sidebar to show registered camps -->
    <%= render :partial => "student_registrations" %>
  </div>
</div>