<div class="row">
  <div class="small-8 columns">
    <div class="panel">
      <!-- MAIN CONTENT GOES HERE -->
      <%= render :partial => "families", locals: { status: "Active", families: @active_families } %>
      <p>&nbsp;</p>
      <%= render :partial => "inactive_families", locals: { status: "Inactive", families: @inactive_families } %>    
      <%= link_to "Add a new family", new_family_path, class: "button tiny radius" %>
    </div>
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
  </div>
</div>