<div class="panel">
<h2>About the A &amp; M Chess Camps</h2>

<%= image_tag 'BoysPlaying2.jpg' %>
<p class="supertiny">&nbsp;</p>
<p> 
  We offer a vast variety of camps and curriculums to develop
  the chess abilities of your child.  Whether you want your child
  to learn the basics of chess and game mechanics or whether
  you want your child to develop his endgame, our camps
  are guaranteed to provide you with the appropriate level
  of instruction for your child.  If you're looking to transform 
  your child into a chess champion the decision is easy-send your
  child to A &amp; M Chess Camps. Checkmate.
</p>
</div>