<div class="panel">
<h2>Contact A &amp; M Chess Camps</h2>

<p> <%= image_tag 'Kelsey1.jpg', class: "left", width: 150 %> To learn more about our purpose, take a look at our <%= link_to "about page", about_path %>. If you want to contact us directly and register for these camps or find our more inforamtion, contact the
  webmaster with the provided contact information:</p>

<table cellpadding="3" class="table">
  <tr>
    <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
    <td>Benjamin Lam</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>
    <%= mail_to("bklam@andrew.cmu.edu", "Ben Lam", encode: "javascript") %> 
    </td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>717-542-1992</td>
  </tr>
</table>

<p><em>Note: We welcome your suggestions, and we look forward to hearing from you!</em></p>
</div>
