<div class="panel">
  <% if not(current_user.nil?) and current_user.role == "admin" %>
  <% elsif not(current_user.nil?) and current_user.role == "instructor" %>
  <% else %>
    <h2>Welcome Chess Parents!</h2>

    <p><%= image_tag 'AlexPlaying10.jpg', class: "left", width: "150" %> The A &amp; M 
      Chess Camps are the finest chess camps in the United States (<em>at least, the ones in this area</em>) and are guaranteed to 
      <strong>transform your son or daughter into a tiger at the chess board</strong>.  
      The links below will tell you more about our camps, curriculums and 
      instructors and in the future will actually allow you to register your son 
      or daughter for those camps. [<%= link_to "O Happy Day!", "https://www.youtube.com/watch?v=a37bBm8pXSk" %>]
      I'm sure that you're wondering more about who we are and what we do, so feel free to check out our about page and other
      information listed in the footer below.


    </p>
    </br>
    </br>

    <p>If you are an administrator (don't lie), <%= link_to "click here to review camps.", camps_path %></p>
<% end %>
</div>

